In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/data.csv", index_col=0)
en_bo = pd.read_csv("../data/en_bo.csv")
bo_en = pd.read_csv("../data/bo_en.csv")
# en-bo web text pre processing
en_bo_wt = pd.read_csv("../data/en_bo_web_text.csv")
en_bo_wt.drop(['ཨང་།'], axis=1, inplace=True)
# bo-en web text pre processing
bo_en_wt = pd.read_csv("../data/bo_en_web_text.csv")
bo_en_wt.drop(['ཨང་།'], axis=1, inplace=True)
# study buddhism article csv
study_buddhism = pd.read_csv("../data/study_buddhism_article.csv")

# Data

In [6]:
data.shape

(1429192, 1)

In [5]:
data

         File_Name
0           TM2382
1           TM0767
2        TMICJZ_LH
3           TM1405
4           TM1110
...            ...
1429187     TM1581
1429188     TM3441
1429189    TM00934
1429190     TM2970
1429191        NaN

[1429192 rows x 1 columns]

In [7]:
data["File_Name"].isnull().sum()

np.int64(184601)

In [8]:
1429192-184601

1244591

In [9]:
data = data.dropna().reset_index(drop=True)
display(data)

         File_Name
0           TM2382
1           TM0767
2        TMICJZ_LH
3           TM1405
4           TM1110
...            ...
1244586     TM1897
1244587     TM1581
1244588     TM3441
1244589    TM00934
1244590     TM2970

[1244591 rows x 1 columns]

# en_bo processing

In [10]:
en_bo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ཨང་།                       896 non-null    float64
 1   ཨང་རྟགས།                   846 non-null    object
 2   བོད་ཕྱི་ནང་།               873 non-null    object
 3   ཁུངས། Source               753 non-null    object
 4   OpenPecha                  23 non-null     object
 5   ཡིག་ཆའི་རྣམ་པ།             599 non-null    object
 6   བོད་མིང་། Tibetan Title    854 non-null    object
 7   Unnamed: 7                 39 non-null     object
 8   BO Repo                    883 non-null    object
 9   དྲ་ཐག Links                609 non-null    object
 10  Clean                      1897 non-null   object
 11  གཙང་བཟོ་མ་ཐུབ་པ།           1 non-null      object
 12  ཁུངས། Source.1             548 non-null    object
 13  Gdrive link                33 non-null     object
 14  ཡིག་ཆའི་རྣམ་པ།.1           173 non-null    object
 15  དབྱིན་མིང་། English Title  631 non-null    object
 16  འཚོལ་མི་དགོས་པ།            1896 non-null   object
 17  ཆ།                         609 non-null    float64
 18  EN Repo                    880 non-null    object
 19  དྲ་ཐག Links .1             600 non-null    object
 20  Unnamed: 20                1896 non-null   object
 21  Assigned                   1897 non-null   object
 22  Clean.1                    1897 non-null   object
 23  རྩོམ་པ་པོ།                 531 non-null    object
 24  སྒྱུར་བ་པོ།                708 non-null    object
 25  བརྗོད་བྱ།                  583 non-null    object
 26  བསྒྱུར་གཞི།                655 non-null    object
 27  དཔེ་སྐྲུན་རྣམ་པ།           645 non-null    object
 28  དཔེ་སྐྲུན་ཁང་།             640 non-null    object
 29  དཔར་ལོ།                    524 non-null    float64
 30  ཤོག་གྲངས།                  431 non-null    object
 31  གོ་རིམ།                    845 non-null    float64
 32  150                        853 non-null    float64
 33  Pair                       476 non-null    float64
 34  QCed                       454 non-null    object
dtypes: float64(6), object(29)
memory usage: 518.8+ KB

In [11]:
en_bo.rename(columns={'BO Repo':'BO', 'EN Repo':'EN', 'བོད་མིང་། Tibetan Title': 'Tibetan Title', 'དབྱིན་མིང་། English Title': 'English Title', 'རྩོམ་པ་པོ། ': 'Author', 'སྒྱུར་བ་པོ།': 'Translator'}, inplace=True)

In [12]:
en_bo.columns

Index(['ཨང་།', 'ཨང་རྟགས།', 'བོད་ཕྱི་ནང་།', 'ཁུངས། Source', 'OpenPecha',
       'ཡིག་ཆའི་རྣམ་པ།', 'Tibetan Title', 'Unnamed: 7', 'BO', 'དྲ་ཐག Links ',
       'Clean', 'གཙང་བཟོ་མ་ཐུབ་པ།', 'ཁུངས། Source.1', 'Gdrive link',
       'ཡིག་ཆའི་རྣམ་པ།.1', 'English Title', 'འཚོལ་མི་དགོས་པ།', 'ཆ།', 'EN',
       'དྲ་ཐག Links .1', 'Unnamed: 20', 'Assigned', 'Clean.1', 'Author',
       'Translator', 'བརྗོད་བྱ།', 'བསྒྱུར་གཞི།', 'དཔེ་སྐྲུན་རྣམ་པ།',
       'དཔེ་སྐྲུན་ཁང་།', 'དཔར་ལོ།', 'ཤོག་གྲངས།', 'གོ་རིམ།', '150', 'Pair',
       'QCed'],
      dtype='object')

In [13]:
new_en_bo = en_bo[['བོད་ཕྱི་ནང་།', 'Tibetan Title', 'BO', 'EN', 'English Title', 'Author', 'Translator', 'བརྗོད་བྱ།', 'བསྒྱུར་གཞི།', 'དཔེ་སྐྲུན་ཁང་།' ,'དཔར་ལོ།', 'ཤོག་གྲངས།']]
new_en_bo

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།
0,NaN,853,NaN,NaN,630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ནང་།,ངར་ལྕགས་ལྟ་བུའི་མི་དེ་ཇི་ལྟར་བྱུང་བ་ཡིན་ནམ།,BO0151,EN0151,How the Steel Was Tempered,Nikolai Ostrovsky\n,གཏེར་མ་ཚེ་རིང་ཆོས་འཕེལ།,རྩོམ་རིག,རྒྱ་ཡིག,སི་ཁྲོན་མི་རིགས་དཔེ་སྐྲུན་ཁང་།,2000.0,849
2,ནང་།,སྐྱེས་ཆེན་དམ་པའི་རྟོགས་བརྗོད་ཐོར་བུ།,BO0152,EN0152,Little Known Facts About Well Known People,dale carnegie ཏེ་ཨོ་ཁར་ནི་གེ།,NaN,ལོ་རྒྱུས།,རྒྱ་ཡིག,བོད་ལྗོངས་མི་དམངས་དཔེ་སྐྲུན་ཁང་།,2015.0,212
3,ནང་།,ང་ནི་མཱ་ལ་ལ་ཡིན།,BO0153,EN0153,I am Malala,NaN,NaN,ལོ་རྒྱུས།,NaN,NaN,NaN,NaN
4,ཕྱི།,རང་དབང་གསར་འགྱུར་འཇུག་སྒོ།,BO0154,EN0154,handbook of independent journalism by Deborah ...,NaN,NaN,གསར་འགོད།,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
new_en_bo['BO'].isnull().sum() , new_en_bo['EN'].isnull().sum()

(np.int64(1014), np.int64(1017))

In [15]:
# dropping all the null rows where BO or En is not present.
new_en_bo_cleaned = new_en_bo.dropna(subset=['BO', 'EN']).reset_index(drop=True)
display(new_en_bo_cleaned)

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།
0,ནང་།,ངར་ལྕགས་ལྟ་བུའི་མི་དེ་ཇི་ལྟར་བྱུང་བ་ཡིན་ནམ།,BO0151,EN0151,How the Steel Was Tempered,Nikolai Ostrovsky\n,གཏེར་མ་ཚེ་རིང་ཆོས་འཕེལ།,རྩོམ་རིག,རྒྱ་ཡིག,སི་ཁྲོན་མི་རིགས་དཔེ་སྐྲུན་ཁང་།,2000.0,849
1,ནང་།,སྐྱེས་ཆེན་དམ་པའི་རྟོགས་བརྗོད་ཐོར་བུ།,BO0152,EN0152,Little Known Facts About Well Known People,dale carnegie ཏེ་ཨོ་ཁར་ནི་གེ།,NaN,ལོ་རྒྱུས།,རྒྱ་ཡིག,བོད་ལྗོངས་མི་དམངས་དཔེ་སྐྲུན་ཁང་།,2015.0,212
2,ནང་།,ང་ནི་མཱ་ལ་ལ་ཡིན།,BO0153,EN0153,I am Malala,NaN,NaN,ལོ་རྒྱུས།,NaN,NaN,NaN,NaN
3,ཕྱི།,རང་དབང་གསར་འགྱུར་འཇུག་སྒོ།,BO0154,EN0154,handbook of independent journalism by Deborah ...,NaN,NaN,གསར་འགོད།,NaN,NaN,NaN,NaN
4,ནང་།,ཤེས་རིག་སྨྲ་བའི་བསྡུས་དོན།,BO0155,EN0155,An Outline of a Theory of Civilization,fukuzawa yukichi ཧྥོའུ་ཁོའུ་ཛ་བཱ་ཡོའུ་ཁིས་ཆིས།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,རྩོམ་རིག,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,268
...,...,...,...,...,...,...,...,...,...,...,...,...
875,NaN,NaN,BO7022,EN7022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,NaN,BO7023,EN7023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,NaN,NaN,BO7024,EN7024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,NaN,NaN,BO7025,EN7025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,NaN,NaN,BO7026,EN7026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
new_en_bo_cleaned['EN'].isnull().sum() , new_en_bo_cleaned['BO'].isnull().sum()

(np.int64(0), np.int64(0))

In [17]:
# no more rows with empty BO or EN

# bo_en processing

In [18]:
bo_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2272 entries, 0 to 2271
Data columns (total 59 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Title                                                                                    2222 non-null   object
 1   Vol.                                                                                     79 non-null     object
 2   Alignment
Priority                                                                       0 non-null      float64
 3   Priority                                                                                 1 non-null      float64
 4   Category                                                                                 2188 non-null   object
 5   Unnamed: 5                                                                               2263 non-null   float64
 6   Unnamed: 6                                                                               1 non-null      object
 7   Translator/critical editor # From ISBN                                                   1943 non-null   object
 8   book description                                                                         558 non-null    object
 9   Gdrive books link                                                                        1010 non-null   object
 10  URL of Translation                                                                       1596 non-null   object
 11  Publisher # From ISBN                                                                    1722 non-null   object
 12  EN Repo                                                                                  2262 non-null   object
 13  Link                                                                                     1339 non-null   object
 14  Format                                                                                   0 non-null      float64
 15  Assigned                                                                                 2263 non-null   object
 16  Cleaned                                                                                  2265 non-null   object
 17  Size (5>1)                                                                               1577 non-null   object
 18  p.#                                                                                      1577 non-null   object
 19  IDed                                                                                     1418 non-null   float64
 20  Pair                                                                                     436 non-null    float64
 21  QCed                                                                                     656 non-null    object
 22  Author of Original Tibetan # Add BDRC IDs                                                1807 non-null   object
 23  Bo title-0                                                                               1711 non-null   object
 24  ངོས་འཛིན་ཡང་དག                                                                           2231 non-null   object
 25  དཔེ་ཆ་འཚོལ་མཁན།                                                                          1677 non-null   object
 26  Unnamed: 26                                                                              1 non-null      object
 27  དཔེ་རྒྱུན།                                                                               5 non-null      object
 28  Link to epub                                                                             155 non-null    object
 29  BDRC བརྩམས་ཆོས།                                                                          1167 non-null   object
 30  BO Repo                                                                                  2258 non-null   object
 31  Unnamed: 31                                                                              0 non-null      float64
 32  Link-0                                                                                   1187 non-null   object
 33  Assigned.1                                                                               2264 non-null   object
 34  en                                                                                       97 non-null     object
 35  Cleaned.1                                                                                2224 non-null   object
 36  Translation Completeness: complete, partial, collection                                  24 non-null     object
 37  Source: Oral/Transcription/Text                                                          25 non-null     object
 38  Copyright status                                                                         1 non-null      object
 39  Access policy                                                                            0 non-null      float64
 40  ISBN                                                                                     1482 non-null   object
 41  ISBN.1                                                                                   383 non-null    object
 42  ISBN.2                                                                                   75 non-null     object
 43  ISBN.3                                                                                   26 non-null     object
 44  ISBN.4                                                                                   8 non-null      object
 45  ISBN.5                                                                                   6 non-null      object
 46  ISBN.6                                                                                   0 non-null      float64
 47  Publication Date # From ISBN                                                             1251 non-null   object
 48  བོད་ཡིག་འཚོལ་མཁན།                                                                        0 non-null      float64
 49  Genre of Translation Language: ?                                                         15 non-null     object
 50  Bilingual Edition Yes/No                                                                 66 non-null     object
 51  If English translation only, best identification of Tibetan original                     0 non-null      float64
 52  If monolingual identification of translation                                             0 non-null      float64
 53  Recommender                                                                              0 non-null      float64
 54  Approximate Date of Composition# not needed, can be found from author date in BDRC data  8 non-null      object
 55  Genre-Level 1                                                                            1063 non-null   object
 56  Genre-Level 2                                                                            1 non-null      object
 57  Genre-Level 3                                                                            1 non-null      object
 58  File?                                                                                    2181 non-null   object
dtypes: float64(13), object(46)
memory usage: 1.0+ MB

renaming some essentials columns

In [19]:
bo_en.rename(columns={'EN Repo':'EN', 'BO Repo':'BO','Title': 'English Title', 'Bo title-0': 'Tibetan Title', 'Translator/critical editor # From ISBN': 'Translator', 'Author of Original Tibetan # Add BDRC IDs': 'Author','Genre-Level 1':'བརྗོད་བྱ།'}, inplace=True)
bo_en.columns

Index(['English Title', 'Vol.', 'Alignment\nPriority', 'Priority', 'Category',
       'Unnamed: 5', 'Unnamed: 6', 'Translator', 'book description',
       'Gdrive books link', 'URL of Translation', 'Publisher # From ISBN',
       'EN', 'Link', 'Format', 'Assigned', 'Cleaned', 'Size (5>1)', 'p.#',
       'IDed', 'Pair', 'QCed', 'Author', 'Tibetan Title', 'ངོས་འཛིན་ཡང་དག',
       'དཔེ་ཆ་འཚོལ་མཁན།', 'Unnamed: 26', 'དཔེ་རྒྱུན། ', 'Link to epub',
       'BDRC བརྩམས་ཆོས།', 'BO', 'Unnamed: 31', 'Link-0', 'Assigned.1', 'en',
       'Cleaned.1', 'Translation Completeness: complete, partial, collection',
       'Source: Oral/Transcription/Text', 'Copyright status', 'Access policy',
       'ISBN', 'ISBN.1', 'ISBN.2', 'ISBN.3', 'ISBN.4', 'ISBN.5', 'ISBN.6',
       'Publication Date # From ISBN', 'བོད་ཡིག་འཚོལ་མཁན།',
       'Genre of Translation Language: ?', 'Bilingual Edition Yes/No',
       'If English translation only, best identification of Tibetan original',
       'If monolingual identification of translation', 'Recommender',
       'Approximate Date of Composition# not needed, can be found from author date in BDRC data',
       'བརྗོད་བྱ།', 'Genre-Level 2', 'Genre-Level 3', 'File?'],
      dtype='object')

In [20]:
new_bo_en = bo_en[['English Title', 'EN','BO', 'Translator', 'Tibetan Title', 'BDRC བརྩམས་ཆོས།', 'བརྗོད་བྱ།', 'Author', 'Source: Oral/Transcription/Text', 'Copyright status']]
new_bo_en

,English Title,EN,BO,Translator,Tibetan Title,BDRC བརྩམས་ཆོས།,བརྗོད་བྱ།,Author,Source: Oral/Transcription/Text,Copyright status
0,688,NaN,NaN,NaN,1511,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""Abhidharmakośabhāṣyam of Vasubandhu Vol-1",EN2971,BO2971,"L. De LA Vallee Poussin, Leo M. Pruden",ཆོས་མངོན་པའི་མཛོད་ཀྱི་བཤད་པ། གླེགས་བར་དང་པོ།,https://library.bdrc.io/show/bdr:WA0RT3428,མདོ། མངོན་པ།,"སློབ་དཔོན་དབྱིག་གཉེནྲ Vasubandhu, tranlated t...",NaN,NaN
3,Āryadeva's lamp that integrates the practices ...,EN2431,BO2431,Christian K. Wedemeyer,སྤྱོད་པ་བསྡུས་པའི་སྒྲོན་མ།,bdr:WA4CZ307977,སྔགས། རྣལ་འབྱོར་བླ་མེད།,འཕགས་པ་ལྷ། http://purl.bdrc.io/resource/P7401,NaN,NaN
4,Speech of Delight: Mipham's Commentary on Shan...,EN3662,BO3662,NaN,དབུ་མ་རྒྱན་གྱི་རྣམ་བཤད་འཇམ་དབྱངས་བླ་མ་དགྱེས་པའ...,https://library.bdrc.io/show/bdr:MW1PD107152,མདོ། དབུ་མ།,http://purl.bdrc.io/resource/P252 Santaraksita...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2271,Trainings in Compassion: Manuals on the Medita...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
new_bo_en['EN'].isnull().sum() , new_bo_en['BO'].isnull().sum()

(np.int64(10), np.int64(14))

In [22]:
# dropping all the null rows where BO or En is not present.
new_bo_en_cleaned = new_bo_en.dropna(subset=['BO', 'EN']).reset_index(drop=True)
display(new_bo_en_cleaned)

,English Title,EN,BO,Translator,Tibetan Title,BDRC བརྩམས་ཆོས།,བརྗོད་བྱ།,Author,Source: Oral/Transcription/Text,Copyright status
0,"""Abhidharmakośabhāṣyam of Vasubandhu Vol-1",EN2971,BO2971,"L. De LA Vallee Poussin, Leo M. Pruden",ཆོས་མངོན་པའི་མཛོད་ཀྱི་བཤད་པ། གླེགས་བར་དང་པོ།,https://library.bdrc.io/show/bdr:WA0RT3428,མདོ། མངོན་པ།,"སློབ་དཔོན་དབྱིག་གཉེནྲ Vasubandhu, tranlated t...",NaN,NaN
1,Āryadeva's lamp that integrates the practices ...,EN2431,BO2431,Christian K. Wedemeyer,སྤྱོད་པ་བསྡུས་པའི་སྒྲོན་མ།,bdr:WA4CZ307977,སྔགས། རྣལ་འབྱོར་བླ་མེད།,འཕགས་པ་ལྷ། http://purl.bdrc.io/resource/P7401,NaN,NaN
2,Speech of Delight: Mipham's Commentary on Shan...,EN3662,BO3662,NaN,དབུ་མ་རྒྱན་གྱི་རྣམ་བཤད་འཇམ་དབྱངས་བླ་མ་དགྱེས་པའ...,https://library.bdrc.io/show/bdr:MW1PD107152,མདོ། དབུ་མ།,http://purl.bdrc.io/resource/P252 Santaraksita...,NaN,NaN
3,Sources Of Tibetan Tradition,EN2520,BO2520,"Edited by Kurtis R. Schaeffer, Matthew T. Kaps...",བོད་ཀྱི་ཆོས་རིག་ལོ་རྒྱུས། (སྣ་ཚོགས་ཡོད།),NaN,ལོ་རྒྱུས།,"Kurtis R. Schaeffer, Matthew T. Kapstein,",NaN,NaN
4,Meditation on Emptiness,EN3257,BO3257,Jeffrey Hopkins,གྲུབ་མཐའི་རྣམ་བཤད་ཀུན་བཟང་ཞིང་གི་ཉི་མའི་ལེའུ་བ...,"bdr:WA3CN9717 ch 12, page 526 (multiple versio...",གྲུབ་མཐའ།,འཇམ་དབྱངས་བཞད་པ། (1648-1721) http://purl.bdrc....,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2253,NaN,EN5626,BO5626,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,NaN,EN5627,BO5627,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2255,NaN,EN5628,BO5628,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2256,NaN,EN5629,BO5629,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257,NaN,EN5630,BO5630,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
new_bo_en_cleaned['BO'].isnull().sum(), new_bo_en_cleaned['EN'].isnull().sum()

(np.int64(0), np.int64(0))

# en_bo_wt (en-bo-web text) pre processing

In [24]:
en_bo_wt.columns

Index(['བོད་མིང་།', 'BO', 'དབྱིན་མིང་།', 'EN', 'རྩོམ་པ་བོ།', 'སྒྱུར་བ་བོ།',
       'བརྗོད་བྱ།'],
      dtype='object')

In [25]:
en_bo_wt.rename(columns={'བོད་མིང་།': 'Tibetan Title', 'དབྱིན་མིང་།': 'English Title', 'རྩོམ་པ་བོ།': 'Author', 'སྒྱུར་བ་བོ།': 'Translator'}, inplace=True)
en_bo_wt

,Tibetan Title,BO,English Title,EN,Author,Translator,བརྗོད་བྱ།
0,ཞི་ཅིན་ཕིན་ཇི་ལྟར་རྒྱ་ནག་གི་ད་ལྟའི་མགོ་ཁྲིད་སྟ...,BO8001,How Xi Jinping became one of modern China’s mo...,EN8001,Ben Westcott,དུས་བབ་གསར་ཁང་།,ཆབ་སྲིད།
1,ཐུབ་བསྟན་སྦྱིན་པ། སྙིང་རྗེའི་དབྱངས་རྟ།,BO8002,"Thupten Jinpa, Voice for Compassion",EN8002,LINDSAY KYTE,སྐལ་ལྡན།,ཆོས་ལུགས།
2,ཆོས་ཀྱི་བསྟོད་དབྱངས་གྱེར་བའི་ཨ་ནེ་ཆོས་དབྱིངས་ས...,BO8003,Meet the Rock Star Buddhist Nun Who Sings for ...,EN8003,LILLY GREENBLATT,སྐལ་ལྡན།,ཆོས་ལུགས།
3,ཡུ་རོབ་ཀྱི་གྲུ་ཟུར་ཞིག་ན་ལྷག་པའི་རྒྱུ་མཚན་ཆེན་...,BO8004,6 reasons why Europe may have turned a corner,EN8004,Analysis by Tim Lister,དུས་བབ་གསར་ཁང་།,ཆབ་སྲིད།
4,དགེ་རྒན་སེམས་ཤུགས་ཆག་པའི་རྒྱུ་རྐྱེན་བཅུ།,BO8005,Top 10 Ways To Demotivate Teachers,EN8005,Ross Morrison,སྐལ་ལྡན།,སློབ་གསོ།
...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
en_bo_wt['BO'].isnull().sum(), en_bo_wt['EN'].isnull().sum()

(np.int64(198), np.int64(198))

In [27]:
en_bo_wt = en_bo_wt.dropna(subset=['BO', 'EN']).reset_index(drop=True)
display(en_bo_wt)

,Tibetan Title,BO,English Title,EN,Author,Translator,བརྗོད་བྱ།
0,ཞི་ཅིན་ཕིན་ཇི་ལྟར་རྒྱ་ནག་གི་ད་ལྟའི་མགོ་ཁྲིད་སྟ...,BO8001,How Xi Jinping became one of modern China’s mo...,EN8001,Ben Westcott,དུས་བབ་གསར་ཁང་།,ཆབ་སྲིད།
1,ཐུབ་བསྟན་སྦྱིན་པ། སྙིང་རྗེའི་དབྱངས་རྟ།,BO8002,"Thupten Jinpa, Voice for Compassion",EN8002,LINDSAY KYTE,སྐལ་ལྡན།,ཆོས་ལུགས།
2,ཆོས་ཀྱི་བསྟོད་དབྱངས་གྱེར་བའི་ཨ་ནེ་ཆོས་དབྱིངས་ས...,BO8003,Meet the Rock Star Buddhist Nun Who Sings for ...,EN8003,LILLY GREENBLATT,སྐལ་ལྡན།,ཆོས་ལུགས།
3,ཡུ་རོབ་ཀྱི་གྲུ་ཟུར་ཞིག་ན་ལྷག་པའི་རྒྱུ་མཚན་ཆེན་...,BO8004,6 reasons why Europe may have turned a corner,EN8004,Analysis by Tim Lister,དུས་བབ་གསར་ཁང་།,ཆབ་སྲིད།
4,དགེ་རྒན་སེམས་ཤུགས་ཆག་པའི་རྒྱུ་རྐྱེན་བཅུ།,BO8005,Top 10 Ways To Demotivate Teachers,EN8005,Ross Morrison,སྐལ་ལྡན།,སློབ་གསོ།
...,...,...,...,...,...,...,...
794,NaN,BO8796,NaN,EN8796,NaN,NaN,NaN
795,NaN,BO8797,NaN,EN8797,NaN,NaN,NaN
796,NaN,BO8798,NaN,EN8798,NaN,NaN,NaN
797,NaN,BO8799,NaN,EN8799,NaN,NaN,NaN
798,NaN,BO8800,NaN,EN8800,NaN,NaN,NaN

In [28]:
en_bo_wt['BO'].isnull().sum(), en_bo_wt['EN'].isnull().sum()

(np.int64(0), np.int64(0))

# bo_en_wt (bo-en web text) pre processing

In [29]:
bo_en_wt.columns

Index(['བོད་མིང་།', 'BO', 'དབྱིན་མིང་།', 'EN', 'རྩོམ་པ་བོ།', 'སྒྱུར་བ་བོ།',
       'བརྗོད་བྱ།'],
      dtype='object')

In [30]:
bo_en_wt.rename(columns={'བོད་མིང་།': 'Tibetan Title', 'དབྱིན་མིང་།': 'English Title', 'རྩོམ་པ་བོ།': 'Author', 'སྒྱུར་བ་བོ།': 'Translator'}, inplace=True)
bo_en_wt

,Tibetan Title,BO,English Title,EN,Author,Translator,བརྗོད་བྱ།
0,ཡ་མཚན་གྱི་འཇིག་རྟེན།,BO8801,“Strange World”,EN8801,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
1,རྡོ།,BO8802,“A Stone”,EN8802,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
2,ང་མི་གཅིག་གི་གཡོག་པོ་བྱེད་འདོད།,BO8803,“I Want to be Someone’s Servant”,EN8803,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
3,སྙན་ངག་ཕྱེད་ཀ་ཞིག,BO8804,“Half a Poem”,EN8804,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
4,མི་རྟག་པ།,BO8805,“Impermanence”,EN8805,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
...,...,...,...,...,...,...,...
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
bo_en_wt['BO'].isnull().sum(), bo_en_wt['EN'].isnull().sum()

(np.int64(50), np.int64(50))

In [32]:
bo_en_wt = bo_en_wt.dropna(subset=['BO', 'EN']).reset_index(drop=True)
display(bo_en_wt)

,Tibetan Title,BO,English Title,EN,Author,Translator,བརྗོད་བྱ།
0,ཡ་མཚན་གྱི་འཇིག་རྟེན།,BO8801,“Strange World”,EN8801,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
1,རྡོ།,BO8802,“A Stone”,EN8802,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
2,ང་མི་གཅིག་གི་གཡོག་པོ་བྱེད་འདོད།,BO8803,“I Want to be Someone’s Servant”,EN8803,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
3,སྙན་ངག་ཕྱེད་ཀ་ཞིག,BO8804,“Half a Poem”,EN8804,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
4,མི་རྟག་པ།,BO8805,“Impermanence”,EN8805,གཅན་མེ་སྟག,Bhuchung D. Sonam,སྙན་ངག
...,...,...,...,...,...,...,...
191,ནད་གཞི་སྔོན་འགོག་དང་ནད་མེད་བདེ་ཐང་སྐོར་གྱི་རྒྱ...,BO8994,NaN,EN8994,NaN,NaN,NaN
192,NaN,BO8995,NaN,EN8995,NaN,NaN,NaN
193,NaN,BO8996,NaN,EN8996,NaN,NaN,NaN
194,NaN,BO8997,NaN,EN8997,NaN,NaN,NaN
195,NaN,BO8998,NaN,EN8998,NaN,NaN,NaN

In [33]:
bo_en_wt['BO'].isnull().sum(), bo_en_wt['EN'].isnull().sum()

(np.int64(0), np.int64(0))

# Study buddhism pre processing

In [34]:
study_buddhism.columns

Index([' English title', 'Translator/critical editor # From ISBN',
       'source description', 'EN', 'Author of Original Tibetan # Add BDRC IDs',
       'Bo title-0', 'BO'],
      dtype='object')

In [35]:
study_buddhism.rename(columns={' English title': 'English Title', 'Bo title-0': 'Tibetan Title', 'Translator/critical editor # From ISBN': 'Translator', 'Author of Original Tibetan # Add BDRC IDs': 'Author'}, inplace=True)
study_buddhism

,English Title,Translator,source description,EN,Author,Tibetan Title,BO
0,Achieving a Happy Mind through Ethics. Study B...,Alexander Berzin,Study Buddhism website,EN5155,The 14th Dalai Lama,བཟང་སྤྱོད་ལ་བརྟེན་ནས་སེམས་ནང་བདེ་སྐྱིད་འཐོབ་པ།,BO5155
1,How to Lead an Ethical Life. Study Buddhism: E...,Alexander Berzin,Study Buddhism website,EN5156,The 14th Dalai Lama,བཟང་སྤྱོད་ལྡན་པའི་མི་ཚེ་སྐྱེལ་ཚུལ།,BO5156
2,Finding Inner Peace and Fulfillment. Study Bud...,Alexander Berzin,Study Buddhism website,EN5157,The 14th Dalai Lama,ནང་སེམས་ཀྱི་ཞི་བདེ་དང་འདོད་དོན་འཚོལ་བ།,BO5157
3,Achieving Peace through Inner Peace. Study Bud...,Alexander Berzin,Study Buddhism website,EN5158,The 14th Dalai Lama,ནང་སེམས་ཀྱི་ཞི་བདེའི་ཐོག་ནས་ཞི་བདེ་འཐོབ་པ།,BO5158
4,Compassion as a Source of Happiness. Study Bud...,Alexander Berzin,Study Buddhism website,EN5159,The 14th Dalai Lama,སྙིང་རྗེ་ནི་བདེ་སྐྱིད་ཀྱི་འབྱུང་ཁུངས་ལྟ་བུ་ཡིན།,BO5159
...,...,...,...,...,...,...,...
313,The Dalai Lama’s Advice for Buddhist Centers. ...,Alexander Berzin,Study Buddhism website,EN5468,The 14th Dalai Lama,༧གོང་ས་མཆོག་ནས་ནང་པའི་ཆོས་ཚོགས་ཁག་ལ་གནང་བའི་བཀ...,BO5468
314,Studying Buddhism in the Digital Age. Study Bu...,Alexander Berzin,Study Buddhism website,EN5469,Dr. Alexander Berzin,དེང་དུས་དྲ་ལམ་ལ་བརྟེན་ནས་ནང་ཆོས་སློབ་གཉེར་བ་ཚོ...,BO5469
315,Advice for Training to Be a Translator of Budd...,Alexander Berzin,Study Buddhism website,EN5470,Dr. Alexander Berzin,ནང་ཆོས་ཀྱི་ལོ་ཙཱ་བ་ཞིག་ཆགས་པར་སྦྱོང་བརྡར་དགོས་...,BO5470
316,Workshop for Tibetans Translating Dharma: Repo...,Alexander Berzin,Study Buddhism website,EN5471,Dr. Alexander Berzin,བོད་མིར་ནང་ཆོས་བསྒྱུར་རྒྱུའི་ཟབ་སྦྱོང་གི་སྙན་ཐོ།,BO5471
317,Study Buddhism: Glosary,Alexander Berzin,Study Buddhism website,EN5472,NaN,མིང་ཚིག་རིའུ་མིག,BO5472

In [36]:
study_buddhism['BO'].isnull().sum(), study_buddhism['EN'].isnull().sum()

(np.int64(0), np.int64(0))

In [37]:
# data
# new_en_bo_cleaned
# new_bo_en_cleaned
# en_bo_wt
# bo_en_wt
# study_buddhism

# Task
Replace 'TM' with 'BO' in the `File_Name` column of the `data` DataFrame, then search for each transformed value in the 'BO' columns of the `cleaned_df_list` DataFrames. Collect all matching rows into a new DataFrame and display it.

## Transform 'file name'

### Subtask:
Create a new column in the `data` DataFrame by replacing 'TM' with 'BO' in the 'File_Name' column.

**Reasoning**:
Create a new column 'BO_File_Name' in the `data` DataFrame by replacing 'TM' with 'BO' in the 'File_Name' column.

In [38]:
data['BO_File_Name'] = data['File_Name'].str.replace('TM', 'BO')
display(data)

         File_Name BO_File_Name
0           TM2382       BO2382
1           TM0767       BO0767
2        TMICJZ_LH    BOICJZ_LH
3           TM1405       BO1405
4           TM1110       BO1110
...            ...          ...
1244586     TM1897       BO1897
1244587     TM1581       BO1581
1244588     TM3441       BO3441
1244589    TM00934      BO00934
1244590     TM2970       BO2970

[1244591 rows x 2 columns]

In [39]:
matching_rows_df = pd.DataFrame()

In [40]:
cleaned_df_list = [new_en_bo_cleaned, new_bo_en_cleaned, en_bo_wt, bo_en_wt, study_buddhism]

all_cleaned_dfs = pd.concat(cleaned_df_list, ignore_index=True)

all_cleaned_dfs

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།,BDRC བརྩམས་ཆོས།,Source: Oral/Transcription/Text,Copyright status,source description
0,ནང་།,ངར་ལྕགས་ལྟ་བུའི་མི་དེ་ཇི་ལྟར་བྱུང་བ་ཡིན་ནམ།,BO0151,EN0151,How the Steel Was Tempered,Nikolai Ostrovsky\n,གཏེར་མ་ཚེ་རིང་ཆོས་འཕེལ།,རྩོམ་རིག,རྒྱ་ཡིག,སི་ཁྲོན་མི་རིགས་དཔེ་སྐྲུན་ཁང་།,2000.0,849,NaN,NaN,NaN,NaN
1,ནང་།,སྐྱེས་ཆེན་དམ་པའི་རྟོགས་བརྗོད་ཐོར་བུ།,BO0152,EN0152,Little Known Facts About Well Known People,dale carnegie ཏེ་ཨོ་ཁར་ནི་གེ།,NaN,ལོ་རྒྱུས།,རྒྱ་ཡིག,བོད་ལྗོངས་མི་དམངས་དཔེ་སྐྲུན་ཁང་།,2015.0,212,NaN,NaN,NaN,NaN
2,ནང་།,ང་ནི་མཱ་ལ་ལ་ཡིན།,BO0153,EN0153,I am Malala,NaN,NaN,ལོ་རྒྱུས།,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ཕྱི།,རང་དབང་གསར་འགྱུར་འཇུག་སྒོ།,BO0154,EN0154,handbook of independent journalism by Deborah ...,NaN,NaN,གསར་འགོད།,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ནང་།,ཤེས་རིག་སྨྲ་བའི་བསྡུས་དོན།,BO0155,EN0155,An Outline of a Theory of Civilization,fukuzawa yukichi ཧྥོའུ་ཁོའུ་ཛ་བཱ་ཡོའུ་ཁིས་ཆིས།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,རྩོམ་རིག,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,268,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446,NaN,༧གོང་ས་མཆོག་ནས་ནང་པའི་ཆོས་ཚོགས་ཁག་ལ་གནང་བའི་བཀ...,BO5468,EN5468,The Dalai Lama’s Advice for Buddhist Centers. ...,The 14th Dalai Lama,Alexander Berzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Study Buddhism website
4447,NaN,དེང་དུས་དྲ་ལམ་ལ་བརྟེན་ནས་ནང་ཆོས་སློབ་གཉེར་བ་ཚོ...,BO5469,EN5469,Studying Buddhism in the Digital Age. Study Bu...,Dr. Alexander Berzin,Alexander Berzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Study Buddhism website
4448,NaN,ནང་ཆོས་ཀྱི་ལོ་ཙཱ་བ་ཞིག་ཆགས་པར་སྦྱོང་བརྡར་དགོས་...,BO5470,EN5470,Advice for Training to Be a Translator of Budd...,Dr. Alexander Berzin,Alexander Berzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Study Buddhism website
4449,NaN,བོད་མིར་ནང་ཆོས་བསྒྱུར་རྒྱུའི་ཟབ་སྦྱོང་གི་སྙན་ཐོ།,BO5471,EN5471,Workshop for Tibetans Translating Dharma: Repo...,Dr. Alexander Berzin,Alexander Berzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Study Buddhism website
4450,NaN,མིང་ཚིག་རིའུ་མིག,BO5472,EN5472,Study Buddhism: Glosary,NaN,Alexander Berzin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Study Buddhism website

In [41]:
# none of the columns are without any value.

In [43]:
all_cleaned_dfs.isnull().sum()

བོད་ཕྱི་ནང་།                       3594
Tibetan Title                       641
BO                                    0
EN                                    0
English Title                       387
Author                             1109
Translator                          749
བརྗོད་བྱ།                          2461
བསྒྱུར་གཞི།                        3802
དཔེ་སྐྲུན་ཁང་།                     3817
དཔར་ལོ།                            3933
ཤོག་གྲངས།                          4024
BDRC བརྩམས་ཆོས།                    3285
Source: Oral/Transcription/Text    4426
Copyright status                   4450
source description                 4133
dtype: int64

In [44]:
all_cleaned_dfs.columns

Index(['བོད་ཕྱི་ནང་།', 'Tibetan Title', 'BO', 'EN', 'English Title', 'Author',
       'Translator', 'བརྗོད་བྱ།', 'བསྒྱུར་གཞི།', 'དཔེ་སྐྲུན་ཁང་།', 'དཔར་ལོ།',
       'ཤོག་གྲངས།', 'BDRC བརྩམས་ཆོས།', 'Source: Oral/Transcription/Text',
       'Copyright status', 'source description'],
      dtype='object')

In [45]:
all_cleaned_dfs = all_cleaned_dfs.drop(['Source: Oral/Transcription/Text', 'Copyright status', 'source description'], axis=1)
all_cleaned_dfs.columns

Index(['བོད་ཕྱི་ནང་།', 'Tibetan Title', 'BO', 'EN', 'English Title', 'Author',
       'Translator', 'བརྗོད་བྱ།', 'བསྒྱུར་གཞི།', 'དཔེ་སྐྲུན་ཁང་།', 'དཔར་ལོ།',
       'ཤོག་གྲངས།', 'BDRC བརྩམས་ཆོས།'],
      dtype='object')

In [46]:
all_cleaned_dfs["BO"].nunique()

# Find and print duplicate 'BO' values
duplicate_bo_values = all_cleaned_dfs[all_cleaned_dfs.duplicated(subset=['BO'], keep=False)]
if not duplicate_bo_values.empty:
    print("Duplicate 'BO' values found:")
    display(duplicate_bo_values)
else:
    print("No duplicate 'BO' values found.")

Duplicate 'BO' values found:

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།,BDRC བརྩམས་ཆོས།
648,ཕྱི།,དབུ་མའི་ལམ་གྱི་འབྱུང་ཁུངས།,BO8315,EN8315,ORIGINS OF THE MIDDLE WAY POLICY\n,NaN,NaN,ཆབ་སྲིད།,NaN,NaN,NaN,NaN,NaN
3451,NaN,དབུ་མའི་ལམ་གྱི་འབྱུང་ཁུངས།,BO8315,EN8315,ORIGINS OF THE MIDDLE WAY POLICY,Warren Smith,ཆོས་རྒྱལ་སྐྱབས།,ཆབ་སྲིད།,NaN,NaN,NaN,NaN,NaN

In [48]:
# Use isin to find matching rows
matching_rows_df = all_cleaned_dfs[all_cleaned_dfs['BO'].isin(data['BO_File_Name'])].reset_index(drop=True)

display(matching_rows_df)

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།,BDRC བརྩམས་ཆོས།
0,ནང་།,ང་ནི་མཱ་ལ་ལ་ཡིན།,BO0153,EN0153,I am Malala,NaN,NaN,ལོ་རྒྱུས།,NaN,NaN,NaN,NaN,NaN
1,ཕྱི།,རང་དབང་གསར་འགྱུར་འཇུག་སྒོ།,BO0154,EN0154,handbook of independent journalism by Deborah ...,NaN,NaN,གསར་འགོད།,NaN,NaN,NaN,NaN,NaN
2,ནང་།,ཤེས་རིག་སྨྲ་བའི་བསྡུས་དོན།,BO0155,EN0155,An Outline of a Theory of Civilization,fukuzawa yukichi ཧྥོའུ་ཁོའུ་ཛ་བཱ་ཡོའུ་ཁིས་ཆིས།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,རྩོམ་རིག,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,268,NaN
3,ནང་།,ཆོས་ལུགས་ཀྱི་ངོ་བོའི་རྣམ་བཤད།,BO0157,EN0157,The Essence of Religion,ཧྥེ་ཨར་པ་ཧ། (འཇར་མན།),སྒོ་མེ་བཀྲ་ཤིས་ཟླ་བ།,ཆོས་ལུགས།,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,132,NaN
4,ནང་།,མི་ཚེའི་མངོན་རྟོགས་མྱོང་གྲུབ།,BO0161,EN0161,The Realisation of Life,ར་བཱིན་དྲ་ནཱཐ་ཐེ་གོར།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,NaN,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,198,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,NaN,སྲན་རྡོག་སྟེང་གི་སྲས་མོ།,BO8715,EN8715,The Princess and the Pea,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN
1225,NaN,ངར་ལྕགས་ཀྱིས་བརྡུངས་པའི་དཔའ་རྒོད།,BO8716,EN8716,The Brave Tin Soldier,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN
1226,NaN,འབར་ཞུན་འཚོང་བའི་བུ་མོ་ཆུང་ཆུང་།,BO8717,EN8717,The Little Match-Seller,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN
1227,NaN,གོང་མའི་ན་བཟའ་གསར་པ།,BO8718,EN8718,The Emperor’s New Suit,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN
1228,NaN,ཡུལ་ལ་སྐྱོད་པ།,BO8720,EN8720,Journey Home,Tagore,ན་བུན།,སྙན་ངག,NaN,NaN,NaN,NaN,NaN

In [50]:
number_of_lines = pd.read_csv("../data/number of lines TM.csv")
number_of_lines

           File_Name  Source  Target
0            TM00001      30      30
1            TM00002       6       6
2            TM00003      24      24
3            TM00004      11      11
4            TM00005      21      21
...              ...     ...     ...
3150  TMtoh669_84000       4       4
3151  TMtoh670_84000       5       5
3152  TMtoh865_84000       5       5
3153  TMtoh891_84000      10      10
3154  TMtoh953_84000       6       6

[3155 rows x 3 columns]

In [51]:
number_of_lines["BO"] = number_of_lines["File_Name"].str.replace('TM', 'BO')
number_of_lines

           File_Name  Source  Target              BO
0            TM00001      30      30         BO00001
1            TM00002       6       6         BO00002
2            TM00003      24      24         BO00003
3            TM00004      11      11         BO00004
4            TM00005      21      21         BO00005
...              ...     ...     ...             ...
3150  TMtoh669_84000       4       4  BOtoh669_84000
3151  TMtoh670_84000       5       5  BOtoh670_84000
3152  TMtoh865_84000       5       5  BOtoh865_84000
3153  TMtoh891_84000      10      10  BOtoh891_84000
3154  TMtoh953_84000       6       6  BOtoh953_84000

[3155 rows x 4 columns]

In [52]:
matching_rows_df = pd.merge(matching_rows_df, number_of_lines[['BO', 'Source']], on='BO', how='left')
display(matching_rows_df)

,བོད་ཕྱི་ནང་།,Tibetan Title,BO,EN,English Title,Author,Translator,བརྗོད་བྱ།,བསྒྱུར་གཞི།,དཔེ་སྐྲུན་ཁང་།,དཔར་ལོ།,ཤོག་གྲངས།,BDRC བརྩམས་ཆོས།,Source
0,ནང་།,ང་ནི་མཱ་ལ་ལ་ཡིན།,BO0153,EN0153,I am Malala,NaN,NaN,ལོ་རྒྱུས།,NaN,NaN,NaN,NaN,NaN,2375
1,ཕྱི།,རང་དབང་གསར་འགྱུར་འཇུག་སྒོ།,BO0154,EN0154,handbook of independent journalism by Deborah ...,NaN,NaN,གསར་འགོད།,NaN,NaN,NaN,NaN,NaN,1275
2,ནང་།,ཤེས་རིག་སྨྲ་བའི་བསྡུས་དོན།,BO0155,EN0155,An Outline of a Theory of Civilization,fukuzawa yukichi ཧྥོའུ་ཁོའུ་ཛ་བཱ་ཡོའུ་ཁིས་ཆིས།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,རྩོམ་རིག,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,268,NaN,1975
3,ནང་།,ཆོས་ལུགས་ཀྱི་ངོ་བོའི་རྣམ་བཤད།,BO0157,EN0157,The Essence of Religion,ཧྥེ་ཨར་པ་ཧ། (འཇར་མན།),སྒོ་མེ་བཀྲ་ཤིས་ཟླ་བ།,ཆོས་ལུགས།,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,132,NaN,568
4,ནང་།,མི་ཚེའི་མངོན་རྟོགས་མྱོང་གྲུབ།,BO0161,EN0161,The Realisation of Life,ར་བཱིན་དྲ་ནཱཐ་ཐེ་གོར།,ཆ་རིས་སྐལ་བཟང་ཐོགས་མེད།,NaN,རྒྱ་ཡིག,ཀན་སུའུ་མི་རིགས་དཔེ་སྐྲུན་ཁང༌།,2002.0,198,NaN,1488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,NaN,སྲན་རྡོག་སྟེང་གི་སྲས་མོ།,BO8715,EN8715,The Princess and the Pea,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN,19
1225,NaN,ངར་ལྕགས་ཀྱིས་བརྡུངས་པའི་དཔའ་རྒོད།,BO8716,EN8716,The Brave Tin Soldier,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN,76
1226,NaN,འབར་ཞུན་འཚོང་བའི་བུ་མོ་ཆུང་ཆུང་།,BO8717,EN8717,The Little Match-Seller,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN,43
1227,NaN,གོང་མའི་ན་བཟའ་གསར་པ།,BO8718,EN8718,The Emperor’s New Suit,Hans Christian Andersen,ན་བུན།,སྒྲུང་ཐུང་།,NaN,NaN,NaN,NaN,NaN,41
1228,NaN,ཡུལ་ལ་སྐྱོད་པ།,BO8720,EN8720,Journey Home,Tagore,ན་བུན།,སྙན་ངག,NaN,NaN,NaN,NaN,NaN,5

In [53]:
matching_rows_df.rename(columns={'Source':'Translation Segment pairs'}, inplace=True)

In [54]:
matching_rows_df.columns

Index(['བོད་ཕྱི་ནང་།', 'Tibetan Title', 'BO', 'EN', 'English Title', 'Author',
       'Translator', 'བརྗོད་བྱ།', 'བསྒྱུར་གཞི།', 'དཔེ་སྐྲུན་ཁང་།', 'དཔར་ལོ།',
       'ཤོག་གྲངས།', 'BDRC བརྩམས་ཆོས།', 'Translation Segment pairs'],
      dtype='object')

In [55]:
matching_rows_df.to_csv('../output_csv/Final_matching_rows.csv', index=False)